@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root {
  --panel-background: #dddddd;
	--panel-stroke: #424242;
}

html, body {
	background-color: var(--panel-background);
}

a {
  text-decoration: none;
}

path, line, text {
	color: var(--panel-stroke);
}

g {
  font-family: 'Roboto';
  font-size: 12px;
}

p {
  background-color: rgba(242,241,239,0.8);
  color: var(--panel-stroke);
  font-family: 'Open Sans';
  align: left;
  width: 30vw;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

p:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 7.8px 7.8px 2.6px;
}

.iconPanel {
  float: left;
}

.textPanel {
  overflow: hidden; /* trick to make just big enough for the p elements */
}

.scrollBox {
  position: fixed;
  top: 0vh;
  left: 67vw;
  overflow-y: auto;
  height: 100vh; /* scroll box exactly window height */
  scrollbar-width: none; /* hides scrollbar in Firefox */
  -ms-overflow-style: none;  /* hides in Internet Explorer 10+ */
}

.scrollBox::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    width: 0;
    height: 0;
}

/* BUTTONS AND MENUS */

.controlPanel {
  position: fixed;
  left: 1vw;
  top: 1vh;
  margin-right: 0px;
	max-width: 65vw;
  max-height: 10vh;
  padding: 8px;
	background-color: var(--panel-background);
	border-radius: 10px;
	border-color: var(--panel-stroke);
	border-width: 1px;
	border-style: solid;
  text-align: center; /* for centering buttonStrip */
}



p.activeGlyph {
  position: fixed;
  top: 1vw;
  left: 50vw;
	border-radius: 10px;
	border-color: var(--panel-stroke);
	border-width: 1px;
	border-style: solid;
  color: var(--panel-stroke);
  font-family: 'Roboto';
  font-weight: bold;
  align: left;
  width: 10vw;
  padding: 8px;
  box-shadow: none;
  background-color: rgba(114,229,239,0.8);
}

p.detail {
  position: fixed;
  top: 4vw;
  left: 50vw;

	border-radius: 10px;
	border-color: var(--panel-stroke);
	border-width: 1px;
	border-style: solid;
  color: var(--panel-stroke);
  font-family: 'Roboto';
  align: left;
  width: 10vw;
  padding: 8px;
  box-shadow: none;
  background-color: var(--panel-background);
}

.buttonStrip {
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
}

button, button:focus, button:active {
  font-family: 'Roboto';
  border-color: var(--panel-stroke);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 6px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  outline: none;
}

select, select:focus, select:active {
  font-family: 'Roboto';
  border-color: var(--panel-stroke);
  border-radius: 5px;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  outline: none;
}

.radSwitch {
  font-family: 'Roboto';
  border-color: var(--panel-stroke);
  border-radius: 5px;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  outline: none;
}

button:hover {
  border-color: #ffffff;
  color: #ffffff !important;
}

circle:hover {
  fill: #fe815e;
}
